<div class="d-flex mt-5 ml-3">
  <h4 class="mr-3 mt-1">Search Movie(s): </h4>
  <div class="form-group">
    <select class="form-control" [(ngModel)]="searchCriteria.searchOption" (ngModelChange)="onSearchOptionChange($event)">
      <option *ngFor="let option of SEARCH_OPTIONS">{{option}}</option>
    </select>
  </div>
  <div class="mt-2 justify-content-center w-25 form-inline md-form">
    <mdb-icon fas icon="search"></mdb-icon>
        <input appOnlyNumbers [shouldAllowOnlyNumbers]="isSearchByRating()"
               class="ml-3 w-75"
               type="text"
               [placeholder]="isSearchByRating() ? 'Show me movies with at least rating of...' : 'Show me the movie...'"
               mdbInput
               [(ngModel)]="searchCriteria.searchValue"
               (ngModelChange)="onSearchValueChange()">
  </div>
</div>
